[submodule "pokemon-teams-frontend/js-rails-as-api-pokemon-teams-project-online-web-sp-000"]
	path = pokemon-teams-frontend/js-rails-as-api-pokemon-teams-project-online-web-sp-000
	url = https://github.com/Andrew-J-Williams/js-rails-as-api-pokemon-teams-project-online-web-sp-000
